@charset "utf-8";

body {
    font: normal 15pt Arial;
    background-image: url(imagens/Background-720.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
}

header {
    color: white;
    text-align: center;
    margin-top: 6vh;
    font-size: 1.5em;
}

section {
    background-color: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(1000px);
    border-radius: 25px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
    margin-top: 10vh;
}

.form{
    text-align: center;
}

.text-form {
    width: 300px;
    border-radius: 10px;
    padding: 8px;
    display: block;
    margin: auto;
    margin-bottom: 15px;
    font-size: 1.2em;
    background-color: rgba(255, 255, 255, 0.025);
}

#txtano{
    width: 140px;
    height: 35px;
    border: none;
    border-radius: 8px;
    font-size: .8em;
    text-align: center;
}

#button{
    display: block;
    padding: 10px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: .8em;
    border: none;
    border-radius: 12px;
    width: 150px;
    height: 40px;
    transition: .1s;
}

#button:hover{
    background-color: rgb(219, 255, 219);
    transition: .1s;
}

div#res{
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 10px;
}

img{
    border-radius: 50%;
    margin-top: 30px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}